{% extends "coordinator_base.html" %}
{% block content %}
<fieldset class="border p-2">
  <legend class="w-auto">Pending Hosts</legend>
  <div class="col">
    <div class="content-section">
      {% for host in pending_hosts %}
        <div class="card mt-2">
          <div class="card-body">
            <h5 class="card-title">{{ host.name }}</h5>
            <a href="#" class="card-link">View Details</a>
            <form method="POST">
              {% csrf_token %}
              <input class="btn btn-danger" type="submit" value="Decline" name="status">
              <input class="btn btn-primary" type="submit" value="Accept" name="status">
              <input type="hidden" name="id" value={{ host.id }}>
            </form>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</fieldset>
{% endblock content %}
