{% extends "base.html" %}
{% block content %}
  <article class="media content-section">
    <div class="media-body">
      <div class="article-metadata">
	<small class="text-muted">{{ object.email }} | {{ object.phone_number }}</small>
      </div>
      <h2 class="article-title">{{ object.name }}</h2>
      <h5 class="text-muted">{{ object.start_date }} - {{ object.end_date }}</h5>
      <p class="article-content">{{ object.city }}, {{ object.state }}</p>
      <p class="article-content">{{ object.events }}</p>
      <p class="article-content">{{ object.availability }}</p>
      <p class="article-content">{{ object.notes }}</p>
      {% if object.notes %}
        <p class="article-content">{{ object.notes }}</p>
      {% endif %}
      {% if object.image1 %}
        <img class="article-img" src="{{ object.image1.url }}">
      {% endif %}
      {% if object.image2 %}
        <img class="article-img" src="{{ object.image2.url }}">
      {% endif %}
      {% if object.image3 %}
        <img class="article-img" src="{{ object.image3.url }}">
      {% endif %}
    </div>
  </article>
{% endblock content %}