{% extends "base.html" %}
{% block content %}
  <head>
      <style>
        .rectangle {
          border-radius: 25px;
          background: #7ba5c4;
          padding: 20px;
          width: 100%;
          height: 400px;
          margin-top: 30px;
          border-radius:7px;
          text-align:center;
          vertical-align:middle;
          justify-content:center;
          align-items: center;
        }
    </style>
  </head>
  <title>Home - HostASkier</title>
  <div>
    <img src="../media/home_background.jpg" style="position:relative;" width=100% > 
  <body>
    <div class=rectangle>{{ data }}</div>
  </body>
{% endblock content %}
