{% extends "base.html" %}
{% block content %}
  <div>
    <form action="{% url 'becomeahost' %}">
      <input type="submit" value="Become a host today!" />
    </form>
    <form action="{% url 'becomeaskier' %}">
      <input type="submit" value="Become a skier today!" />
    </form>
    
    <!-- <img src="../media/lake_and_boat_bw.jpg"
      width="252" 
      height="189" > -->
  </div>
  <div>
    <a href="{% url 'becomeahost' %}">
      <img alt="Qries" src="../media/lake_and_boat_bw.jpg"
      width="252" height="189">
   </a>
  </div>
{% endblock content %}
